.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,37,207,1) 0%, rgba(0,212,255,1) 100%);

}

.form {
    width: 30rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}

button {
    margin-top: 1.5rem;
    padding: 0.3rem;
    cursor: pointer;
    background-color: rgb(213, 210, 210);
}

.full-width {
    width: 100%;
}

